<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug">

	<targets>
		<target name="console" xsi:type="Console"
				layout="$[{longdate}] | [${event-properties:item=EventId.Id}] | [${logger}] | [${uppercase:${level}}] | [${message}] [${exception}]"/>


		<target name="database" xsi:type="Database"
            dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
            connectionString="server=212.113.117.56;  Database= Hiron;  user id=userHiron;  password=~eK~nPrvZ5*n$2r" >

			<commandText>
				insert into Logs (MachineName, Logged, Level, Message, Logger, Callsite, Exception)
				values (@MachineName, @Logged, @Level, @Message, @Logger, @Callsite, @Exception);
			</commandText>

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
			
		</target>
	</targets>
	
	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
	
	
	
	
</nlog>